body{
  margin: 0;
  padding: 0.5rem;
}

*{

}

.container{
  width:50%;
  background-color: red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1{
  margin-bottom: 5rem;
}

form{
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-field{
  margin-bottom: 1rem;
}
label{
  margin-right: 5px;
}
button{
  margin-top: 1.5rem;
  width: 140px;
  padding: 5px;
  align-self: center;
}

button:hover{
  cursor: pointer;;
}
span {
  margin-bottom: 15px;
}